<h1>Editing localidade</h1>

<%= render "form", localidade: @localidade %>

<br>

<div>
  <%= link_to "Show this localidade", @localidade %> |
  <%= link_to "Back to localidades", localidades_path %>
</div>
